.filterSelect {
    width: 50%
}

.filterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filterContainer * {
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
}
